.about {
  position: relative;
  overflow: hidden;
  height: 580px;
  background-color: var(--color-eastbay);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__figure {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__text {
    width: 34%;
    transform: translateX(70px);
  }
  &__title {
    margin-bottom: var(--second-offset);
    color: var(--color-white);
  }
  &__descr {

    font: var(--middle-book);
    color: var(--color-white);
  }
  &__quote {
    display: inline-block;
    margin-bottom: var(--second-offset);
    font: inherit;

    &::before,
    &::after {
      display: none;
    }
  }
  &__author {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: var(--prehigh-regular);
    font-style: normal;
    line-height: 22px;
    transform: translateX(50px);

    &::before {
      content: "";
      display: inline-block;
      margin-right: var(--second-offset);
      width: 30px;
      height: 3px;
      background-color: var(--color-white);
    }
  }

  &__image {
    position: absolute;
    right: 0;
    width: 465px;
    height: auto;
    overflow: hidden;
    transform: skewX(-20deg);
    background-color: var(--color-bg);
  }
  img {
    margin-left: -110px;
    max-width: 160%;
    height: 580px;
    object-fit: cover;
    transform: skewX(20deg);


  }
}
