:root {
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-black: #000;
  --color-white: #fff;
  --color-eastbay: #484283;
  --color-main: #444b58;
  --color-main-hover: #31343c;
  --color-accent: #f14f4f;
  --color-accent-hover: #cc4949;
  --color-border: rgba(255, 255, 255, 0.5);
  --color-bg: #fff4ee;
  --color-cameo: #dbbba9;
  --color-gray: #b2b5bb;
  --color-jambo: rgba(128, 128, 128, 1);
  --color-border: rgba(255, 255, 255, .5);
  --color-grey-light: rgba(36, 36, 36, 0.5);
  --color-btn-active: #8c2828;
  --grid-gap: 20px;
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;
  --big-offset: 60px;
  --font-family: "Intro", sans-serif;
  --middle-high-bold: 700 30px / 140% var(--font-family);
  --prehigh-book: 400 24px / 24px var(--font-family);
  --prehigh-regular: 600 20px / 20px var(--font-family);
  --middle-book: 400 16px / 140% var(--font-family);
  --middle-regular: 600 16px / 140% var(--font-family);
  --small-book: 400 14px / 140% var(--font-family);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/Intro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/Intro-Book.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/Intro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.btn {
  border-radius: 4px;
  padding: 22px 47px;
  font: var(--middle-regular);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn--primary {
  background-color: var(--color-accent);
  color: var(--color-white);
}
.btn--primary:hover {
  background-color: var(--color-accent-hover);
}
.btn--secondary {
  background-color: var(--color-main);
  color: var(--color-white);
}
.btn--secondary:hover {
  background-color: var(--color-main-hover);
}

.title {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--middle-high-bold);
  color: var(--color-text);
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.custom-checkbox__content {
  padding-left: 25px;
  cursor: pointer;
}
.custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.custom-checkbox__content {
  padding-left: 35px;
  font: var(--middle-book);
  color: var(--color-main);
}
.custom-checkbox__content::before {
  top: -3px;
  border-color: var(--color-cameo);
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.custom-checkbox__content::after {
  top: -3px;
  width: 24px;
  height: 24px;
  background-image: url(../img/check.svg);
  background-size: 15px 12px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}
.header__container {
  --paddings: 15px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--second-offset) var(--paddings);
}
.header__container::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% - var(--paddings) * 2);
  height: 1px;
  background-color: var(--color-border);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header__left {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-grid-column-span: 10;
  grid-column: 10 span;
}

.hero {
  position: relative;
  padding: 130px 0;
  height: 528px;
  background-color: var(--color-eastbay);
}
.hero__container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.hero__bg-text {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  margin-top: 70px;
  margin-left: 50px;
  font-family: "Intro", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  color: rgba(255, 255, 255, 0.12);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hero__title {
  margin: 0;
  margin-top: 50px;
  margin-bottom: var(--second-offset);
  max-width: 50%;
  font: 700 36px/140% var(--font-family);
  color: var(--color-white);
}
.hero__descr {
  margin: 0;
  margin-bottom: var(--main-offset);
  max-width: calc(50% - 100px);
  font: var(--middle-book);
  color: var(--color-white);
}

.catalog {
  padding: var(--big-offset) 0;
}
.catalog__left {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.catalog__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-span: 9;
  grid-column: 9 span;
}
.catalog__subtitle {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
}
.catalog__caption {
  display: block;
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-main);
}
.catalog__prop {
  margin: 0;
  margin-bottom: var(--second-offset);
}
.catalog__propcheckboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.catalog__apply {
  margin-bottom: var(--second-offset);
  width: 100%;
}
.catalog__more {
  margin-top: var(--big-offset);
}

.catalog-list {
  -ms-grid-columns: (1fr)[9];
  grid-template-columns: repeat(9, 1fr);
}
.catalog-list__item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}

.catalog-filters {
  border-radius: 4px;
  padding: var(--second-offset);
  background-color: var(--color-bg);
}
.catalog-filters__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-price__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.catalog-price__wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 8px;
  bottom: 8px;
  width: 1px;
  height: 34px;
  background-color: var(--color-gray);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.catalog-price__input {
  border: 1px solid var(--color-gray);
  width: 50%;
  height: 50px;
  font: var(--middle-book);
  text-align: center;
  color: var(--color-main);
  background-color: transparent;
}
.catalog-price__input:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.catalog-price__input:last-child {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.catalog-price .noUi-horizontal {
  height: 2px;
}
.catalog-price .noUi-target {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--color-main);
}
.catalog-price .noUi-connect {
  background: var(--color-main);
}
.catalog-price .noUi-horizontal .noUi-handle {
  top: -8px;
  width: 3px;
  height: 18px;
}
.catalog-price .noUi-handle {
  right: 0;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: var(--color-main);
  cursor: pointer;
}
.catalog-price .noUi-handle::after,
.catalog-price .noUi-handle:before {
  display: none;
}
.catalog-price .noUi-handle-lower {
  right: -3px;
}

.product {
  overflow: hidden;
  border-radius: 4px;
}
.product__btns {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--color-main);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.product__btn svg {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
  fill: white;
}
.product__btn:first-child {
  margin-right: var(--main-offset);
}
.product__btn:hover {
  background-color: var(--color-main-hover);
}
.product__image {
  position: relative;
  margin-bottom: var(--small-offset);
  width: 100%;
  max-height: 293px;
}
.product__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__title {
  margin: 0;
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-main);
}
.product__price {
  margin: 0;
  font: var(--prehigh-regular);
  color: var(--color-main);
}
.product:hover .product__btns {
  opacity: 1;
  visibility: visible;
}

.about {
  position: relative;
  overflow: hidden;
  height: 580px;
  background-color: var(--color-eastbay);
}
.about__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}
.about__image {
  position: absolute;
  margin-left: 17%;
  width: 465px;
  height: auto;
  overflow: hidden;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  background-color: var(--color-bg);
}
.about img {
  margin-left: -110px;
  max-width: 160%;
  height: 580px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.nav__item:not(:last-child) {
  margin-right: var(--main-offset);
}
.nav__link {
  font: var(--small-book);
  color: var(--color-white);
}

.cart {
  margin-left: var(--main-offset);
}
.cart__btn {
  position: relative;
  width: 20px;
  height: 20px;
}
.cart__btn svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  fill: var(--color-white);
}
.cart__count {
  position: absolute;
  right: -6px;
  bottom: -6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  height: 16px;
  min-width: 16px;
  font: var(--small-font);
  color: var(--color-white);
  background-color: var(--color-accent);
}

.sizes-table {
  border-collapse: collapse;
  width: 100%;
}
.sizes-table caption {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.sizes-table td {
  border: 1px solid var(--color-cameo);
  padding: 17px 5px;
  font: var(--middle-book);
  text-align: center;
  color: var(--color-main);
}

.logo {
  font: var(--middle-high-bold);
  line-height: 1;
  color: var(--color-white);
}
/*# sourceMappingURL=main.css.map */