// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  //--font-family: "Open Sans", ;
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-black: #000;
  --color-white: #fff;
  --color-eastbay: #484283;
  --color-accent: #f14f4f;

  --grid-gap: 20px;
  --main-offset: 40px;

  //fonts
  --font-family: "Intro", sans-serif;
  --middle-high-font: 700 30px / 140% var(--font-family);
  --small-font: 400 14px / 140% var(--font-family);
}
